*{
    margin: auto;

}
@media screen and (max-width: 360px) {
    .main{
        height: 100vh;
        width: 100vw;
        background-color: navy;
    }
    .first{
        width: 100vw;
        display: ;
        height: 330px;
        background: url(../images/backa.jpg) no-repeat no-repeat 100% ;
    }
    .lister{
        display: flex;
        height: 50px;
        background-image: 50% url(../images/layout.png) no-repeat no-repeat  ;
        height: 120px;
        background-color: ;
    }
    .profile-pic{
        width: 50px;
        border-radius: 15px;
        float: left;
    }
    .notif{
        width: 30px;
        float: right;
    }
    .lister p{
        color: whitesmoke;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 17px;
    }
    .amount{
        width: 100%;
        background-color: ;
        position: relative;
        top: 00px;
    }
    .amount p{
        font-size: 20px;
        padding-left: 20px;
        color: #cfcdcd;
    }
    spanname{
        font-size: 30px;
        color: whitesmoke;
    
        font-family: 'Courier New', Courier, monospace;
    }
    .pay{
        width: 100%;
        background-color: none;
        display: flex;
        height: 70px;
    }
    .pay p{
        color: white;
    }
    .paya, .payb{
     
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 18px;
        display: flex;
        border-radius: 12px;
       
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .paypic{
        width: 15px;
        float: left;
        padding-right: 10px;
    }
    
    
    
    .second{
        width: 100vw;
        height: 1500px;
        position: relative;
        top: -40px;
        border-radius: 20px;
        background-color: whitesmoke;
    }
    .inrow{
        display: flex;
        position: relative;
        top: 10px;
    }
    .inrow p{
        font-size: 22px;
        font-family: cursive;
        color: rgb(32, 100, 238);
    }
    .sinc{
        width: 30px;
        float: right;
        position: relative;
        right: -20px;
    }
    .zed{
        display: flex;
    }
    .coins{
        width: 35px;
        padding-left: 12px;
        padding-right: 13px;
        height: 40px;
    }
    .zed p{
        color: rgb(32, 100, 238);
        font-size: 18px;
        width: 140px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    spanaaa{
        font-size: 16px;
        color: rgb(66, 92, 144);
        padding-right: 13px;
    }
}